<nav class=" sticky-sm-top navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
    
        <ul class="nav navbar-nav">
          {% if user.is_authenticated%}
          <li><a class="nav-item nav-link"  href="/">Home</a></li>
          <li><a class="nav-item nav-link"  href="/logout">Logout</a></li>
          {% else%}
          <li><a class="nav-item nav-link"  href="/Signup">Sign Up</a></li>
          <li><a class="nav-item nav-link"  href="/login">Login</a></li>
          {% endif%}
          </ul>
      </div>
  </nav>